.form {
  width: 384px;
  background: #fff;
  padding: 3rem 2rem;
  margin: 4rem auto;
  text-align: center;
}

.item {
  text-align: left;
  margin: 0.75rem;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}

h5 {
  font-size: 20px;
  font-weight: 500;
}

.submit{
  width: 100%;
  background: #1890FF;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 0.5rem; 

}
