.form {
  width: 65%;
  background: #fff;
  padding: 3rem 2rem;
  margin: 4rem auto;
  text-align: center;
}

.item {
  text-align: left;
  margin: 0.75rem;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}

h5 {
  font-size: 20px;
  font-weight: 500;
}

.tags {
  display: flex;
  gap:16px;
  margin: 10px 0;
}
.addTag, .deleteTag {
  min-width: 10%;
  background: none;
  border-radius: 4px;  
}
.addTag {
  color:#1890FF;
  border: 1px solid #1890FF;
}
.deleteTag {
  color:#F5222D;
  border: 1px solid #F5222D;
}
.tagInput {
  width: 30%;
}
.send{
  width: 30%;
  background: #1890FF;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 0.5rem; 
  position: relative;
  left: 0;
}
