.container {
  box-shadow: 0px 0px 15px 2px #333;
  border-radius: 3px;
  margin: 0 auto;
  background-color: #fff;
  padding: .5rem 0;
  width: 100%;
  max-width: 940px;
  min-height: 80px;
}
.item {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1.2rem;
}

.col {
  flex-direction: column;
  display: flex;
}
.group {
  display: flex;
  gap: 0.5rem;
}

.title {
  line-height: 28px;
  font-size: 20px;
  font-weight: 400px;
  color: #1890ff;
  margin-bottom: 0.5rem;
}
a {
  text-decoration: none;
}
.text {
  line-height: 22px;
  font-size: 12px;
  font-weight: 400px;
}
.description,
.date,
.tag {
  line-height: 22px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.tag {
  padding: 0 0.2rem;
}

.author {
  line-height: 28px;
  font-size: 18px;
  font-weight: 400;
}

.del, .edit {
border-radius: .3rem;
background: none;
font-size: 14px;
line-height: 22px;
padding: 0 1rem;
}
.del {
  color: #F5222D;
  border: 1px solid #F5222D;
}
.edit {
  color: #52C41A;
  border: 1px solid #52C41A;
}
